[Desktop Entry]
Name=Sicompass
GenericName=Keyboard Navigator
Comment=Use your whole computer from the keyboard, with no mouse needed
Icon=sicompass
Exec=sicompass %F
Type=Application
Terminal=false
Categories=Utility;Accessibility;
Keywords=accessibility;screenreader;keyboard;navigator;a11y;
StartupWMClass=sicompass
StartupNotify=true
